<h1>Register here!</h1>

<div class="container">
  <p>Please Enter your New Username and Password, you will be redirected to the login page after you register</p>
  <form action="/users" method="post">
    <div>
      <label>Username:&nbsp</label>
      <input type="text" name="username">
    </div>
    <div>
      <label>Password:&nbsp</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="Register">
    </div>
  </form>
</div>
