<h1>Please Login to see your garage:</h1>

<div class="container">
  <form action="/login" method="post">
    <div>
      <label>Username:&nbsp</label>
      <input type="text" name="username">
    </div>
    <div>
      <label>Password:&nbsp</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
  <div>
    <a href="/users/new">Register Here!</a>
  </div>
</div>
